<div class="">
   <div class="" (click)="editGiphy(source)" >
        <div class="wrapper-box">
            <div class="box-image">
                    <img class="circle-image" [src]=source.thumbnailUrl> 
            </div> 
            <div>
                <h4> {{ source.title }} </h4>
                <p>
                    {{ source.description }} 
                </p>
                <span>
                    <mat-icon svgIcon="thumbs-up"></mat-icon>
                    {{ source.userId }}
                </span>
                
            </div>
   </div> 
</div>