.circle-image{
    border-radius: 50% 50%;
}

.box-image{  
    height:100px;
    width:100px;  
    padding: 2em;
}
.center{
    text-align: center;
}
.wrapper-edit{
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 240px 350px;
}

.box-edit{
    font-size: 26px;
}